<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hi, <%= @user.username %></h1>

      <p> You successfully created a username at 99cats.</p>
      <a href="<%= new_session_url %>">Access the sign in page </a>
  </body>
</html>


